
@{
    ViewBag.Title = "BadRequest";
}

<h2>Warning!</h2>

<div class="container">

    <button class="btn btn-warning btn-sm" data-toggle="modal" data-target="#myModal">
        Bad Request. Your browser
        sent a request that this server could not understand.
    </button>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Bad Request</h4>
                </div>
                <div class="modal-body">
                    <p>
                        The 400 Bad Request error is an HTTP status code that means that the request you
                        sent to the website server, often something simple like a request to load a web page,
                        was somehow incorrect or corrupted and the server couldn't understand it.
                    </p>
                    <p>
                        The 400 Bad Request error is often caused by entering or pasting the wrong URL in the
                        address window but there are some other relatively common causes as well.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>