@{
    ViewBag.Title = "About";
}


<style type="text/css">
    body {
        padding-top: 100px;
        background-image: url(https://free4kwallpapers.com/uploads/wallpaper/17/06/21/minimal-architecture-by-fran%C3%A7ois-hoang-wallpaper-1366x768-wallpaper.jpg);
    }
</style>

<body>
    <h2><b>Register customers, add reservations and find parking in seconds!</b></h2>
    <h3>
        <b>Company overview.</b> From the homepage and About page, you’ll
        see what MyParking App is all about. What are its key
        products and services? What kind of people or businesses are its customers?
        How does it distinguish itself from its competitors?
    </h3>

</body>