@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Content/images/Parking.png" width="250" style="float:right" />
    <h1>MyParking App</h1>
    <p class="lead">Register customers, add reservations and find parking in seconds!</p>
</div>

<div class="row">
    <div class="col-md-4">
        @Html.ActionLink("CUSTOMERS", "Index", "Customers", null, new { @class = " btn btn-warning btn-md" })
        <h4>Look through the lens of the customer</h4>
        <h4>When it comes to company's environment, recognize that everything speaks</h4>
        <h4>Create customer "wow's"</h4>

    </div>

    <div class="col-md-4">
        @Html.ActionLink("PARKING LOTS", "Index", "ParkingLots", null, new { @class = " btn btn-warning btn-md" })
        <h4>Why circle the block wasting gas and time and fraying your nerves?</h4>
        <h4>Whether you're looking for city parking, sports parking or special event parking, My Parking has it covered</h4>
        <h4> Get parking info before you leave the house, or pull over and use the app when you're close to your destination</h4>

    </div>

    <div class="col-md-4">
        @Html.ActionLink("RESERVATIONS", "Index", "Reservations", null, new { @class = " btn btn-warning btn-md" })
        <h4>Park your car smarter and faster with MyParking, the Cluj's largest and most accurate parking app</h4>
        <h4>Free to list and only takes a few minutes to get up and running</h4>
    </div>
</div>

